<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'phpdoc_no_empty_return' => false,
        'class_keyword_remove' => false,
        'phpdoc_summary' => false,
        'yoda_style' => false
    ])
    ->setFinder($finder)
;
